name: Run Checks on Push

on: push

jobs:
  run-checks:
    name: Run Checks
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    # Rust is preinstalled on GitHub Runners
    # - name: Install Rust
    #   id: install-rust
    #   uses: dtolnay/rust-toolchain@stable

    - name: Try to restore Racket dependencies from cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/racket
          ~/.local/share/racket
        key: ${{ runner.os }}-racket-${{ hashFiles('.racket-version') }}

    - name: Install Racket
      uses: Bogdanp/setup-racket@v1.14
      with:
        architecture: 'x64'
        distribution: 'full'
        variant: 'CS'
        version: '8.14'

    - name: Install Guile
      run: sudo apt-get install guile-3.0-dev

    - name: Install skylite support package
      run: raco pkg install --link ./support/skylite-racket

    - name: Try to restore Rust dependencies from cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Run Racket tests
      run: |
        raco test ./crates/skylite-assets/asset-server
        raco test ./support/skylite-racket/

    - name: Run Rust tests
      run: cargo test --tests

    - name: Run formatting check
      run: cargo fmt --check
